# Chapter 2_2 case2 数据准备
----
Author: W.Y.  
Date: 2020/2/7  
Update: 2020/2/8  
Info: 张俊妮老师书的第二章，数据理解和数据准备，case2，数据准备  

----

In [1]:
# 导入模块

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt  
import matplotlib
from scipy import stats
from matplotlib.backends.backend_pdf import PdfPages

In [2]:
# 导入数据

data = pd.read_csv('E:\Data Mining\SimplePython\Chapter 2 从R到Python 之 数据挖掘与应用\CH 2_2 数据理解和数据准备\CH 2_2 data credit.csv')

In [3]:
# 查看数据类型

data.info()

# 其中，float64 和 int64都是数字型，我们要提取这些列

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13996 entries, 0 to 13995
Data columns (total 40 columns):
BEACON        13996 non-null int64
DAS           13996 non-null int64
CRITERIA      13996 non-null int64
ROPEN         13996 non-null int64
RBALNO        13996 non-null int64
LST_R_OPEN    13676 non-null float64
RBAL          13676 non-null float64
RLIMIT        13676 non-null float64
TOPEN         13996 non-null int64
TBALNO        13905 non-null float64
MOF           13996 non-null int64
RBAL_LIMIT    13996 non-null int64
EQLIMIT       128 non-null float64
EQBAL         128 non-null float64
EQHIGHBAL     277 non-null float64
EQCURBAL      277 non-null float64
BCLIMIT       11481 non-null float64
BCBAL         11481 non-null float64
IHIGHBAL      7292 non-null float64
ICURBAL       7290 non-null float64
UNSECLIMIT    6117 non-null float64
UNSECBAL      6117 non-null float64
MTHIGHBAL     7721 non-null float64
MTCURBAL      7721 non-null float64
BCOPEN        0 non-null float64
YEARS_RES     13411 non-null float64
CHILDREN      13996 non-null int64
EST_INC       13996 non-null float64
OWN_HOME      13996 non-null int64
HOME_VALUE    13996 non-null int64
HOME_INC      13996 non-null int64
HOME_ED       13996 non-null int64
PRCNT_WHIT    13996 non-null int64
PRCNT_PROF    13996 non-null int64
DOB_MONTH     1139 non-null float64
DOB_YEAR      9448 non-null float64
AGE_INFERR    13996 non-null int64
SEX           13996 non-null object
MARRIED       13996 non-null object
BUYER<P>      13996 non-null int64
dtypes: float64(21), int64(17), object(2)
memory usage: 4.3+ MB

In [4]:
# 选择数值型的列

data_nvars = data.select_dtypes(include=[np.number]) 

# 用np.number可以包括float和int类型

In [5]:
# 有一列BCOPEN，全为NA值，R中类型非数值型，Python中却是float64类型（数值型）
# 因此这里再删除这一列。 删除全部是NA值的列：

data_nvars = data_nvars.dropna(axis=1, how='all')

In [6]:
# 描述性分析

data_nvars.describe()

,BEACON,DAS,CRITERIA,ROPEN,RBALNO,LST_R_OPEN,RBAL,RLIMIT,TOPEN,TBALNO,...,OWN_HOME,HOME_VALUE,HOME_INC,HOME_ED,PRCNT_WHIT,PRCNT_PROF,DOB_MONTH,DOB_YEAR,AGE_INFERR,BUYER<P>
count,13996.000000,13996.000000,13996.0,13996.000000,13996.000000,13676.000000,13676.000000,13676.000000,13996.000000,13905.000000,...,13996.0,13996.000000,13996.000000,13996.000000,13996.000000,13996.000000,1139.000000,9448.000000,13996.000000,13996.000000
mean,749.662475,154.703987,1.0,3.538797,2.251358,27.011553,3295.697499,14853.108292,3.946413,12899.975476,...,0.0,94.488354,41.760289,127.968705,90.152829,32.879251,1.132572,51.909187,43.792798,0.214133
std,24.869341,120.056070,0.0,2.167016,1.608963,28.139862,4586.611711,13040.206713,2.200098,24003.047052,...,0.0,41.182402,15.890445,25.853008,17.415204,12.924028,2.884262,9.389900,7.256989,0.410234
min,670.000000,-202.000000,1.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,30.000000,35.000000,0.000000
25%,731.000000,67.000000,1.0,2.000000,1.000000,7.000000,462.000000,7500.000000,2.000000,1419.000000,...,0.0,70.000000,32.000000,120.000000,90.000000,24.000000,0.000000,46.000000,42.000000,0.000000
50%,752.000000,150.000000,1.0,3.000000,2.000000,16.000000,1550.000000,12951.000000,4.000000,6513.000000,...,0.0,90.000000,41.000000,120.000000,95.000000,34.000000,0.000000,53.000000,42.000000,0.000000
75%,770.000000,238.000000,1.0,5.000000,3.000000,36.000000,4200.500000,20073.250000,5.000000,15467.000000,...,0.0,108.000000,49.000000,140.000000,98.000000,42.000000,0.000000,59.000000,42.000000,0.000000
max,804.000000,524.000000,1.0,17.000000,16.000000,99.000000,78928.000000,999999.000000,17.000000,999999.000000,...,0.0,531.000000,150.000000,160.000000,99.000000,86.000000,12.000000,70.000000,57.000000,1.000000

In [7]:
# 统计变量和R中summary()函数不完全一样，差了一个NA个数。统计方式如下：

data_nvars.isnull().sum()

BEACON            0
DAS               0
CRITERIA          0
ROPEN             0
RBALNO            0
LST_R_OPEN      320
RBAL            320
RLIMIT          320
TOPEN             0
TBALNO           91
MOF               0
RBAL_LIMIT        0
EQLIMIT       13868
EQBAL         13868
EQHIGHBAL     13719
EQCURBAL      13719
BCLIMIT        2515
BCBAL          2515
IHIGHBAL       6704
ICURBAL        6706
UNSECLIMIT     7879
UNSECBAL       7879
MTHIGHBAL      6275
MTCURBAL       6275
YEARS_RES       585
CHILDREN          0
EST_INC           0
OWN_HOME          0
HOME_VALUE        0
HOME_INC          0
HOME_ED           0
PRCNT_WHIT        0
PRCNT_PROF        0
DOB_MONTH     12857
DOB_YEAR       4548
AGE_INFERR        0
BUYER<P>          0
dtype: int64

In [8]:
# 存为数据框
# 其实就是describe()的结果，转置一下，再加一列NA个数

data_nvars_description = pd.DataFrame(data_nvars.describe()).T
data_nvars_description['NA'] = data_nvars.isnull().sum()

In [9]:
data_nvars_description.head(10)

,count,mean,std,min,25%,50%,75%,max,NA
BEACON,13996.0,749.662475,24.869341,670.0,731.0,752.0,770.00,804.0,0
DAS,13996.0,154.703987,120.056070,-202.0,67.0,150.0,238.00,524.0,0
CRITERIA,13996.0,1.000000,0.000000,1.0,1.0,1.0,1.00,1.0,0
ROPEN,13996.0,3.538797,2.167016,0.0,2.0,3.0,5.00,17.0,0
RBALNO,13996.0,2.251358,1.608963,0.0,1.0,2.0,3.00,16.0,0
LST_R_OPEN,13676.0,27.011553,28.139862,1.0,7.0,16.0,36.00,99.0,320
RBAL,13676.0,3295.697499,4586.611711,0.0,462.0,1550.0,4200.50,78928.0,320
RLIMIT,13676.0,14853.108292,13040.206713,0.0,7500.0,12951.0,20073.25,999999.0,320
TOPEN,13996.0,3.946413,2.200098,0.0,2.0,4.0,5.00,17.0,0
TBALNO,13905.0,12899.975476,24003.047052,0.0,1419.0,6513.0,15467.00,999999.0,91

In [10]:
# 批量直方图

matplotlib.rcParams['font.sans-serif'] = ['SimHei']  # 正常显示中文
plt.rcParams['axes.unicode_minus']=False  # 正常显示负号

factorlist = list(data_nvars.columns.values)
# 需要画的变量的名字都放在factorlist里面

with PdfPages('CH 2_2 case2 result_histogram.pdf') as pdf:  
    for i in range(len(factorlist)):
        plt.hist(data_nvars[factorlist[i]])  # 画直方图
        plt.title('histogram of %s' %(factorlist[i]))  # 设置标题
        plt.xlabel(factorlist[i])
        plt.ylabel('frequency')
        pdf.savefig()
        plt.close()

# 设置标题时，用了字符串格式化，%s代表字符串。
# 可以再去了解一下格式化操作和%操作符，也很实用。

D:\Anaconda\lib\site-packages\numpy\lib\histograms.py:824: RuntimeWarning: invalid value encountered in greater_equal
  keep = (tmp_a >= first_edge)
D:\Anaconda\lib\site-packages\numpy\lib\histograms.py:825: RuntimeWarning: invalid value encountered in less_equal
  keep &= (tmp_a <= last_edge)

In [11]:
# 删除冗余变量

data_new = data.drop(columns=['CRITERIA', 'OWN_HOME'])

In [12]:
# 对数变换

data_new['BCBAL1'] = np.log(data_new['BCBAL']+1)

In [13]:
# 变量的秩转换

# 计算百分位数，并存入列表，作为分组的区间
BCBAL_quantile = []
for i in np.arange(0,1.01,0.01):
    BCBAL_quantile.append(data_new['BCBAL'].quantile(i))

In [14]:
# 列表元素去重

quantile_unique = list(set(BCBAL_quantile))
quantile_unique.sort(key=BCBAL_quantile.index)

# 注意：set方式会改变原列表的排序，所以要重新排序。

In [15]:
# 加入-1

quantile_unique.insert(0,-1)

In [16]:
# 分组，存为变量BCBAL2

data_new['BCBAL2'] = pd.cut(data_new['BCBAL'], bins=quantile_unique, labels=False)

In [17]:
# 频数分布

data_new['SEX'].value_counts()

M    12183
F     1631
U      182
Name: SEX, dtype: int64

In [18]:
# T检验

age1=data_new[data_new['BUYER<P>']==1]['AGE_INFERR']
age0=data_new[data_new['BUYER<P>']==0]['AGE_INFERR']
print(stats.ttest_ind(age0, age1))

# 原数据中变量名称就是BUYER<P>，R中变成了BUYER.P.，所以书上的变量名和这里不一样。

Ttest_indResult(statistic=-7.736482216888369, pvalue=1.0917132491642911e-14)

In [19]:
# 结果不太好看，整理一下

t_statistic, p = stats.ttest_ind(age0, age1)
msg = "Test Statistic: {}\np-value: {}"
print(msg.format(t_statistic, p))

Test Statistic: -7.736482216888369
p-value: 1.0917132491642911e-14

In [20]:
# 列联表

crosstable = pd.crosstab(data_new['BUYER<P>'], data_new['SEX'], margins=True)
crosstable

SEX          F      M    U    All
BUYER<P>
0         1245   9612  142  10999
1          386   2571   40   2997
All       1631  12183  182  13996

In [21]:
# 选择列联表中的值，不包括汇总行和汇总列
cross_array = np.array([crosstable.iloc[0][0:3].values,
                        crosstable.iloc[1][0:3].values])
cross_array

array([[1245, 9612,  142],
       [ 386, 2571,   40]], dtype=int64)

In [22]:
# 卡方检验

stats.chi2_contingency(cross_array)

(5.6512559164742875,
 0.05927142516103865,
 2,
 array([[1281.7497142 , 9574.22242069,  143.0278651 ],
        [ 349.2502858 , 2608.77757931,   38.9721349 ]]))

In [23]:
# 结果不太好看，整理一下

chi2, p, df, expected = stats.chi2_contingency(cross_array)
msg = "Test Statistic: {}\np-value: {}\nDegrees of Freedom: {}\n"
print(msg.format(chi2, p, df))

Test Statistic: 5.6512559164742875
p-value: 0.05927142516103865
Degrees of Freedom: 2

In [24]:
# 根据变量BUYER<P>进行数据分割

data1 = data_new[data_new['BUYER<P>'] == 1]
data0 = data_new[data_new['BUYER<P>'] == 0]

In [25]:
# 提取响应者（==1的）的观测数

n1 = len(data1)

In [26]:
# 创建变量n0记录非响应者的观测数,它的值是响应者观测数n1的两倍

n0 = n1*2

In [27]:
# 从data0中抽取n0个观测值，组成data_sample

data_sample = data0.sample(n=n0, random_state=123)

# random_state设定种子，保证每次抽取的结果一样
# 这个随机抽样的结果就和R不一样了

In [28]:
# 把data1和data_sample存在一个数据框

data_new1 = pd.concat([data1, data_sample])

In [29]:
# 保存文件

# 保存为csv
data_new1.to_csv('CH 2_2 case2 result_creditnew.csv', index=False)

# 保存为excel
data_new1.to_excel('CH 2_2 case2 result_creditnew.xlsx', index=False)

# 还有些参数自己了解一下吧